// Color Palette
$black: #000;
$gray-darker: #333;
$gray-dark: #666;
$gray: #999;
$gray-light: #bdbdbd;
$gray-lighter: #dbdbdb;
$gray-lighterer: #eee;
$white: #fff;

$primary: #f44336;
$primary-dark: #d75d54;
$primary-light: #ff867c;
$primary-lighter: #ffcdd2;
$primary-bg: #ffeaec;

$secondary: #4e89f3;

$current: #ff9800;

$correct: #8ed240;
$correct-lighter: #f1f8e9;

// Background & border
$bg-color: #fafafa;
$bg-advice: #f0f2f5;
$border-color: $gray-lighterer;
$darkcover-bg: rgba(51, 51, 51, 0.9);

// Shadow
$card-shadow: 0 2px 8px rgba(0, 0, 0, .25);
$advice-shadow: 0 1px 4px rgba(0, 0, 0, .25);