<!DOCTYPE html>
<html>
<head>
	<!-- Basic -->
	<meta charset="utf-8"></meta>

	<meta
		http-equiv="X-UA-Compatible"
		content="IE=edge"
	></meta>

	<title>
		Micro-NGO - A way to collectively change world
	</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
	<link
		rel="shortcut icon"
		href="/img/favicon.ico"
		type="image/x-icon"
	></link>
	<link
		rel="apple-touch-icon"
		href="/img/apple-touch-icon.png"
	></link>

	<!-- Mobile Metas -->

	<meta
		name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
	></meta>

	<!-- Web Fonts -->

	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
		rel="stylesheet"
		type="text/css"
	></link>

	<!-- Vendor CSS -->

	<link
		rel="stylesheet"
		href="/vendor/bootstrap/css/bootstrap.min.css"
	></link>

	<link
		rel="stylesheet"
		href="/vendor/font-awesome/css/font-awesome.min.css"
	></link>

	<link
		rel="stylesheet"
		href="/vendor/animate/animate.min.css"
	></link>

	<link
		rel="stylesheet"
		href="/vendor/simple-line-icons/css/simple-line-icons.min.css"
	></link>

	<link
		rel="stylesheet"
		href="/vendor/owl.carousel/assets/owl.carousel.min.css"
	></link>

	<link
		rel="stylesheet"
		href="/vendor/owl.carousel/assets/owl.theme.default.min.css"
	></link>

	<link
		rel="stylesheet"
		href="/vendor/magnific-popup/magnific-popup.min.css"
	></link>

	<!-- Theme CSS -->

	<link
		rel="stylesheet"
		href="/css/theme.css"
	></link>

	<link
		rel="stylesheet"
		href="/css/theme-elements.css"
	></link>

	<link
		rel="stylesheet"
		href="/css/theme-blog.css"
	></link>

	<link
		rel="stylesheet"
		href="/css/theme-shop.css"
	></link>

	<!-- Current Page CSS -->

	<link
		rel="stylesheet"
		href="/vendor/rs-plugin/css/settings.css"
	></link>

	<link
		rel="stylesheet"
		href="/vendor/rs-plugin/css/layers.css"
	></link>

	<link
		rel="stylesheet"
		href="/vendor/rs-plugin/css/navigation.css"
	></link>

	<link
		rel="stylesheet"
		href="/vendor/circle-flip-slideshow/css/component.css"
	></link>

	<!-- Demo CSS -->
	<!-- Skin CSS -->

	<link
		rel="stylesheet"
		href="/css/skins/default.css"
	></link>

	<!-- Theme Custom CSS -->

	<link
		rel="stylesheet"
		href="/css/custom.css"
	></link>

	<!-- Head Libs -->
	<script src="/vendor/modernizr/modernizr.min.js"></script>
</head>

<body>
	<div class="body">
		<header
			id="header"
			data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 55, 'stickySetTop': '-55px', 'stickyChangeLogo': true}"
		>
			<div class="header-body">
				<div class="header-container container">
					<div class="header-row">
						<div class="header-column">
							<div class="header-row">
								<div class="header-logo">
									<a href="/">
										<img
											alt="Micro-NGO logo"
											width="111"
											height="54"
											data-sticky-width="82"
											data-sticky-height="40"
											data-sticky-top="33"
											src="<%= static_path(@conn, "/img/logo.png") %>"
										>
									</a>
								</div>
							</div>
						</div>

						<div class="header-column justify-content-end">
							<%# <div class="header-row pt-3">
								<nav class="header-nav-top">
									<ul class="nav nav-pills">
										<li class="nav-item d-none d-sm-block">
											<a
												class="nav-link"
												href="about-us.html"
											>
												<i class="fa fa-angle-right"></i>
												About Us
											</a>
										</li>

										<li class="nav-item d-none d-sm-block">
											<a
												class="nav-link"
												href="contact-us.html"
											>
												<i class="fa fa-angle-right"></i>
												Contact Us
											</a>
										</li>

										<li class="nav-item">
											<span class="ws-nowrap">
												<i class="fa fa-phone"></i>
												(123) 456-789
											</span>
										</li>
									</ul>
								</nav>

								<div class="header-search d-none d-md-block">
									<form
										id="searchForm"
										action="page-search-results.html"
										method="get"
									>
										<div class="input-group">
											<input
												type="text"
												class="form-control"
												name="q"
												id="q"
												placeholder="Search..."
												required="required"
											></input>

											<span class="input-group-btn">
												<button
													class="btn btn-light"
													type="submit"
												>
													<i class="fa fa-search"></i>
												</button>
											</span>
										</div>
									</form>
								</div>
							</div> %>

							<div class="header-row">
								<div class="header-nav">
									<div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
										<nav class="collapse">
											<ul
												class="nav nav-pills"
												id="mainNav"
											>
												<li>
													<a
														class="nav-link"
														href="/"
													>Home</a>
												</li>

												<li class="">
													<a
														class="nav-link"
														href="/ngo"
													>Find NGO</a>
												</li>
												<li class="">
													<a
														class="nav-link"
														href="/login"
													>Login</a>
												</li>
											</ul>
										</nav>
									</div>

									<%# <ul class="header-social-icons social-icons d-none d-sm-block">
										<li class="social-icons-facebook">
											<a
												href="http://www.facebook.com/"
												target="_blank"
												title="Facebook"
											>
												<i class="fa fa-facebook"></i>
											</a>
										</li>

										<li class="social-icons-twitter">
											<a
												href="http://www.twitter.com/"
												target="_blank"
												title="Twitter"
											>
												<i class="fa fa-twitter"></i>
											</a>
										</li>

										<li class="social-icons-linkedin">
											<a
												href="http://www.linkedin.com/"
												target="_blank"
												title="Linkedin"
											>
												<i class="fa fa-linkedin"></i>
											</a>
										</li>
									</ul> %>

									<button
										class="btn header-btn-collapse-nav"
										data-toggle="collapse"
										data-target=".header-nav-main nav"
									>
										<i class="fa fa-bars"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
    <%= render @view_module, @view_template, assigns %>
	</div>

	<!-- Vendor -->
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/jquery.appear/jquery.appear.min.js"></script>
	<script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
	<script src="/vendor/jquery-cookie/jquery-cookie.min.js"></script>
	<script src="/vendor/popper/umd/popper.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/vendor/common/common.min.js"></script>
	<script src="/vendor/jquery.validation/jquery.validation.min.js"></script>
	<script src="/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
	<script src="/vendor/jquery.gmap/jquery.gmap.min.js"></script>
	<script src="/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
	<script src="/vendor/isotope/jquery.isotope.min.js"></script>
	<script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
	<script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="/vendor/vide/vide.min.js"></script>
	<!-- Theme Base, Components and Settings -->
	<script src="/js/theme.js"></script>
	<!-- Current Page Vendor and Views -->
	<script src="/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script src="/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script src="/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js"></script>
	<script src="/js/views/view.home.js"></script>
	<!-- Theme Custom -->
	<script src="/js/custom.js"></script>
	<!-- Theme Initialization Files -->
	<script src="/js/theme.init.js"></script>
	<!-- Examples -->
	<script src="/js/examples/examples.demos.js"></script>
	<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
			ga('create', 'UA-12345678-1', 'auto');
			ga('send', 'pageview');
		</script> -->
</body>
</html>