* {
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: $bg-color;
  color: $gray-darker;
  font-size: 16px;
  margin: 0;
  position: relative;
}

.title {
  color: $black;
  font-size: 2rem;
  font-weight: 600;
  left: 2rem;
  position: absolute;
  top: 1.5rem;
  text-decoration: none;
}

.input-container {
  display: flex;
}

a:hover {
  cursor: pointer;
}

input, .btn {
  box-sizing: content-box;
}