$chatroom-info-height: 3rem;
$chatroom-chatbox-height: 5.5rem;
$feedback-height: 6.4rem;

.chatroom-container {
  background-color: $white;
  border-radius: 1rem;
  box-shadow: $card-shadow;
  left: 2rem;
  top: 1.5rem;
  bottom: 2.5rem;
  position: absolute;
  right: 0;
  margin-right: 2rem;

  .chatroom-dark-cover {
    background-color: $darkcover-bg;
    border-radius: 1rem;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
  }

  .chatroom-dark-cover-content {
    @include content-center-vertical;
    padding: 0 3rem;
  }

  .chatroom-cover-text-group {
    margin-bottom: 3.5rem;
    line-height: 1.4;
  }

  .cover-subtitle {
    color: $gray-lighter;
    font-size: 1.125rem;
  }

  .cover-title {
    color: $white;
    font-size: 1.675rem;
    font-weight: 600;
    margin-bottom: .5rem;
  }

  .cover-explanation {
    color: $gray-light;
  }

  .button-wrapper {
    text-align: center;
  }

  .button-start {
    background-color: $primary-dark;
    border-radius: .5rem;
    color: $white;
    display: inline-block;
    height: 3rem;
    line-height: 3rem;
    margin: 0 auto;
    padding: 0 2.25rem;

    &.resume {
      margin-left: 1rem;
      background-color: $gray;
    }

    &:hover {
      opacity: .8;
    }
  }

  .chatroom-info-container {
    height: $chatroom-info-height;
    left: 0;
    padding: .35rem 1.5rem 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .user-box {
    align-items: center;
    background-color: $gray-light;
    color: $white;
    display: flex;
    font-weight: 300;
    height: 2.25rem;
    justify-content: center;
    text-align: center;
    width: 2.25rem;
    white-space: nowrap;
    border-radius: .5rem;

    &.moderator {
      background-color: $primary;
    }

    &.current {
      border: 3.5px solid $current;
      position: relative;

      &::after {
        content: "나";
        background: $current;
        position: absolute;
        width: 16px;
        height: 16px;
        right: -8px;
        bottom: -6px;
        border-radius: 50%;
        font-size: 0.65rem;
        text-align: center;
      }
    }
  }

  .chatroom-users-container {
    position: relative;

    .chatroom-info-title {
      font-size: .95rem;
      display: flex;
      align-items: flex-end;
      margin-right: .5rem;
    }
  }

  .chatroom-users-wrapper {
    display: flex;

    .user-box {
      margin-right: .375rem;
      transform: scale(0.85);
    }
  }

  .chatroom-info-title {
    color: $gray;
  }

  .chatroom-time-container {
    position: absolute;
    top: .35rem;
    right: 1.5rem;

    .chatroom-info-title {
      display: inline-block;
      margin-right: .25rem;
    }

    .chatroom-info-content {
      display: inline-block;
      font-size: 1.5rem;
    }
  }

  .chatroom-content-container {
    border-bottom: 1px solid $gray-lighter;
    border-top: 1px solid $gray-lighter;
    bottom: $chatroom-chatbox-height;
    left: 0;
    position: absolute;
    right: 0;
    top: $chatroom-info-height;
  }

  .chatroom-chatbox-container {
    bottom: 0;
    height: $chatroom-chatbox-height;
    left: 0;
    position: absolute;
    right: 0;
  }

  .chatbox-input-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem 0;
  }

  .chatbox-input {
    border: 2px solid $gray-lighter;
    border-radius: .375rem;
    font-size: 1rem;
    padding: .625rem 1.25rem;
    height: 48px;
  }

  .chatbox-sub-text {
    color: $gray-light;
    font-size: .75rem;
    padding-left: .5rem;
  }

  .chatroom-content-wrapper {
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: .75rem 0 .5rem;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .feedback-wrapper + .chatroom-content-wrapper {
    bottom: $feedback-height
  }

  .chatroom-utterances-wrapper {
    padding: .375rem 1.5rem;
    position: relative;

    .chatroom-utterances-container {
      position: relative;
      transform: translateX(0);
      transition: transform .3s ease;

      .user-box {
        position: absolute;
      }
    }

    &.moderator {
      background-color: rgba(247, 226, 226, .2) !important;
      &:hover {
        background-color: rgba(247, 226, 226, .5) !important;
      }
    }

    &.reply {
      padding-top: 0;
    }

    &:hover {
      background-color: $bg-color;

      .chatroom-utterances-text .btn-add {
        opacity: .88;
      }
      
    }
  }

  $user-side-margin: 2.5rem;

  .chatroom-utterances-text {
    line-height: 1.6;
    font-size: .95rem;
    padding: .4rem 1rem;
    margin-left: $user-side-margin;
    
    .btn-add{
      position: absolute;
      top: .25rem;
      height: 2rem;
      right: -.9rem;
      font-size: 0.8rem;
      display: flex;
      background: #fff;
      color: #4e89f3;
      border: 1px solid #4e89f3;
      white-space: pre-wrap;
      opacity: 0;
      transition: opacity 0.3s ease;
      cursor: pointer;
      border-radius: 5px;
      span {
        width: 5rem;
        border-right: 1px solid #4e89f3;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        &:last-child {
          border-right: none;
        }
        &:hover {
          background-color: #eee;
          border-radius: 5px;
        }
      }
    }
  }
  .chatroom-division {
    text-align: center;
    font-size: .75rem;
    color: $gray;
    margin: .5rem 1rem;
    position: relative;
    z-index: 998;
    span {
      background-color: $white;
      padding: 0 1rem;
    }
    &:after {
      content: "";
      width: 100%;
      height: 1px;
      display: block;
      position: absolute;
      top: 50%;
      background: $gray-lighter;
      z-index: -1;
    }
  }

  .replies {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    .replies-container {
      display: flex;
    }
    i {
      margin: .5rem -1.2rem 0 1rem;
      color: $gray;
    }
    .chatroom-utterances-wrapper {
      &:hover {
        background-color: inherit;
      }
      &:before {
        content: none;
      }
    }
  }
  .feedback {
    padding: .375rem 0 .375rem 3.5rem;
    display: flex;
    .btn {
      background-color: $secondary;
      border-radius: .75rem;
      color: $white;
      font-size: .85rem;
      padding: .25rem .5rem;
      cursor: pointer;
      display: inline-block;
      margin-right: .25rem;

      .header {
        opacity: .8;
      }

    }
  }
}