.hide {
  display: none !important;
}

.enjoyhint_next_btn, .enjoyhint_skip_btn  {
  color: rgba(255,255,255,1);
  background: #1ecd97;
}

.kineticjs-content canvas {
  opacity: .7 !important;
}

.enjoy_hint_label {
  background: rgba(0,0,0,0.8);
  padding: 1rem 1.5rem;
  font-weight: 200;
}

.enjoy_hint_label, .enjoyhint_svg_wrapper, .enjoyhint_next_btn {
  // transform: translateX(0) rotateY(0);
  transition: transform .5s ease-in-out;
}